# Created by .ignore support plugin (hsz.mobi)
### default template
# IntelliJ project files
.idea
out
gen
__pycache__/

# Vagrant
.vagrant/
.box

# Frontend
node_modules/
static/

# venv
venv/

# docs
docs/_build/
docs/*.svg
docs/*.md

# pytest
.coverage
htmlcov/
.pytest_cache
.mypy_cache/
build/
project.egg-info/
setup.py

config.py